<p-card>
    <div class="form-row">
        <div class="form-group col-md-6 p-card-title">
            {{ pageTitle }}
        </div>
        <div class="form-group col-md-6">
            <button pButton pRipple type="button" label="Voltar" icon="pi pi-arrow-left" style="float: right;"
                (click)="back()">
            </button>
        </div>
    </div>
    <form [formGroup]="formulario" novalidate>
        <div class="form-row">
            <app-input-padrao class="form-group col-md-12" for-name="nome" nome="Nome" [formulario]="formulario">
            </app-input-padrao>
        </div>
    </form>
    <div class="form-row">
        <div class="form-group col-md-12">
            <div align="center">
                <button pButton pRipple type="button" label="Salvar" (click)="submitForm()" icon="pi pi-save">
                </button>
            </div>
        </div>
    </div>
</p-card>