<p-panel [toggleable]="false">
    <p-header>
        <div align="left" style="color: var(--primary-color);">
            <h6>
                <strong><i class="fa fa-bar-chart"></i> Demandas por ano</strong>
            </h6>
        </div>
    </p-header>
    <div class="form-row">
        <app-input-padrao class="form-group col-md-5" for-name="ano" nome="Ano" mask="9999" [formulario]="formulario">
        </app-input-padrao>
        <app-input-padrao-template class="form-group col-md-1" for-name="ano" nome="" [formulario]="formulario">
            <div class="mt-2">
                <p-button [style]="{'width':'100%'}" icon="pi pi-search" (click)="carregarBarras()"></p-button>
            </div>
        </app-input-padrao-template>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <p-chart type="bar" height="300px" [data]="dataBarra" *ngIf="datasets"
                (onDataSelect)="selectData($event)">
            </p-chart>
            <div *ngIf="!datasets" align="center" style="margin-top: 150px;">
                <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div align="left" style="color: var(--primary-color);">
                <h6>
                    <strong>Entradas:</strong>
                </h6>
            </div>
            <app-entrada-info [detalhe]="false"></app-entrada-info>
        </div>
        <div class="form-group col-md-6">
            <div align="left" style="color: var(--primary-color);">
                <h6>
                    <strong>Saídas:</strong>
                </h6>
            </div>
            <app-saida-info></app-saida-info>
        </div>
    </div>
</p-panel>