<p-card header="Dizimistas">
    <p-panel [toggleable]="true">
        <p-header>
            <div align="left" style="color: var(--primary-color);">
                <h6>
                    <strong><i class="pi pi-cog"></i> Filtros</strong>
                </h6>
            </div>
        </p-header>
        <div class="form-row">
            <app-input-padrao class="form-group col-md-3" for-name="nome" nome="Nome" [formulario]="filterForm">
            </app-input-padrao>
            <app-input-padrao class="form-group col-md-3" for-name="cpf" nome="CPF" mask="999.999.999-99"
                [formulario]="filterForm">
            </app-input-padrao>
            <app-combo-box-padrao class="form-group col-md-3" for-name="filtroDizimistaEnum" nome="Mostrar"
                [formulario]="filterForm" [options]="filtroDizimistaEnumOptions" text="text" value="value">
            </app-combo-box-padrao>
            <app-combo-box-padrao class="form-group col-md-3" for-name="igrejaId" nome="Igreja"
                [formulario]="filterForm" [options]="igrejas" text="nome" value="id" *ngIf="igrejas">
            </app-combo-box-padrao>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <div align="right">
                    <button pButton pRipple type="button" label="Pesquisar" icon="pi pi-search"
                        (click)="paginate();"></button>
                    &nbsp;
                    <button pButton pRipple type="button" routerLink="/pages/entrada/new" label="Novo"
                        icon="pi pi-plus"></button>
                    &nbsp;
                    <button pButton pRipple type="button" label="Limpar filtros" (click)="buildForm(); paginate();"
                        icon="pi pi-spin pi-spinner"></button>
                </div>
            </div>
        </div>
    </p-panel>
    <br>
    <section id="no-more-tables" style="word-wrap: break-word">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr class="table-bootstrap-head">
                        <th>Nome</th>
                        <th>Última devolução</th>
                        <th>Valor devolvido</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody *ngIf="resources">
                    <tr class="table-bootstrap-body" *ngFor="let rowData of resources.content">
                        <td data-title="Nome">
                            {{ rowData.nome | valueOrTrace }}
                        </td>
                        <td data-title="Última devolução">
                            {{ rowData.dataEntrada | date: 'dd/MM/yyyy' | valueOrTrace }}
                        </td>
                        <td data-title="Valor devolvido">
                            {{ rowData.valorDizimo | currency: 'BRL' | valueOrTrace }}
                        </td>
                        <td data-title="Ação">
                            <button title="Lançar Dízimo" pButton pRipple type="button" icon="pi pi-dollar"
                                class="p-button-rounded" (click)="showBasicDialog(rowData)">
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p-paginator
                *ngIf="resources && resources.totalElements != 0 && filterForm.value.size <= resources.totalElements"
                [rows]="filterForm.value.size"
                [style]="{'background-color': 'var(--surface-e)', 'border': '1px solid var(--surface-e)'}"
                [totalRecords]="(resources ? resources.totalElements : 0)"
                [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]" (onPageChange)="paginate($event)">
            </p-paginator>
            <div *ngIf="!resources || resources.totalElements == 0">
                <div>
                    Todos os membros registrados já devolveram esse mês
                </div>
            </div>
        </div>
    </section>
    <div class="form-row" *ngIf="resources">
        <div class="form-group col-md-12">
            <div align="right">
                <strong>Total:</strong> {{ resources.totalElements }}
            </div>
        </div>
    </div>
</p-card>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<p-dialog header="Devolução de dízimo do {{ selecionado.nome }}" [(visible)]="displayBasic" [style]="{width: '50vw'}"
    [baseZIndex]="10000">
    <p>Insira o valor para devolução de dízimo do(a): <b style="font-size: 18px;">{{ selecionado.nome }}</b>, referente
        ao mês corrente ({{ (hoje | date: 'MMMM').capitalize() }}).</p>
    <div class="form-row">
        <div class="form-group col-md-3"></div>
        <app-input-number-padrao class="form-group col-md-6" for-name="valor" nome="Valor" [formulario]="formulario"
            [money]="true" [use-grouping]="true">
        </app-input-number-padrao>
        <div class="form-group col-md-3"></div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-save" (click)="salvar()" label="Salvar" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-times" (click)="displayBasic=false" label="Cancelar" styleClass="p-button-text">
        </p-button>
    </ng-template>
</p-dialog>