<p-card header="Listagem de Menus">
    <div class="form-row">
        <div class="form-group col-md-12">
            <div align="right">
                <button pButton pRipple type="button" routerLink="/pages/menu/new" label="Novo"
                    icon="pi pi-plus"></button>
            </div>
        </div>
    </div>
    <section id="no-more-tables" style="word-wrap: break-word">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr class="table-bootstrap-head">
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody *ngIf="resources">
                    <tr class="table-bootstrap-body" *ngFor="let rowData of resources.content">
                        <td data-title="Código">
                            {{ rowData.id }}
                        </td>
                        <td data-title="Nome">
                            {{ rowData.nome | valueOrTrace }}
                        </td>
                        <td data-title="Ação">
                            <button title="Editar" pButton pRipple type="button" icon="fa fa-edit"
                                class="p-button-rounded" [routerLink]="'/pages/menu/edit/' + rowData.id">
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p-paginator
                *ngIf="resources && resources.totalElements != 0 && filterForm.value.size <= resources.totalElements"
                [rows]="filterForm.value.size"
                [style]="{'background-color': 'var(--surface-e)', 'border': '1px solid var(--surface-e)'}"
                [totalRecords]="(resources ? resources.totalElements : 0)"
                [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]" (onPageChange)="paginate($event)">
            </p-paginator>
            <div *ngIf="!resources || resources.totalElements == 0">Nehum registro encontrado</div>
        </div>
    </section>
</p-card>