h2 {
    background-color: var(--surface-d);
    color: var(--text-color);
    font-family: var(--font-padrao);
    font-size: 17px;
    cursor: pointer;
    margin-top: 8px;
}

div.card {
    margin-bottom: 1px;
    background-color: var(--surface-b);
}

div.card-header {
    background-color: var(--surface-d);
    position: relative;
    padding: 7px;
}

div.card-body {
    background-color: var(--surface-b);
    cursor: pointer;
    position: relative;
    padding: 5px;
}

div.card-body:hover {
    background-color: var(--surface-a);
    color: var(--text-color-secondary);
    text-decoration: underline;
}

h6 {
    color: var(--text-color);
    font-family: var(--font-padrao);
    font-size: 15px;
}