<h5 class="text-muted mt-2" align="center" style="cursor: pointer;" (click)="navegar('/pages/home')"><i
        class="pi pi-home"></i> Home</h5>

<div class="accordion" id="accordionExample">
    <div class="card" *ngFor="let item of menus; let i = index">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0" data-toggle="collapse" [attr.data-target]="'#collapse' + i" (click)="clickExpand(i)"
                [id]="'h2collapse' + i">
                <strong>{{ item.nome }}</strong>
                <span data-toggle="collapse" [attr.data-target]="'#collapse' + i"
                    [class]="'pi ' + (ariaExpanded[i] ? 'pi-chevron-up' : 'pi-chevron-down')"
                    style="float: right;"></span>
            </h2>
        </div>

        <div [id]="'collapse' + i" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body" *ngFor="let filho of item.itemMenus" (click)="navegar(filho.url)">
                <h6>
                    <i [class]="filho.icon"></i> {{ filho.nome }}
                </h6>
            </div>
        </div>
    </div>
</div>
<app-side-bar-item *ngFor=" let ifilho of itemComFilhos" [item]="ifilho">
</app-side-bar-item>